<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="debugger" xsi:type="Debugger" 
				layout="${date:format=HH\:mm\:ss} | ${level:uppercase=true} | ${message} ${exception:format=tostring}"/>
		<target name="logfile" xsi:type="File" fileName="${basedir}/logs/${processname}-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${callsite}(${callsite-filename:includeSourcePath=False}:${callsite-linenumber}) - ${message} ${exception:format=tostring}"
				maxArchiveFiles="9"
				archiveFileName="${basedir}/logs/${processname}-${shortdate}-${###}.log"
				createDirs="true"
				archiveAboveSize="102400"
				archiveEvery="Day"
				encoding="UTF-8"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="debugger" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>